.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/copyright/profiles_settings.xml
.idea/Skoenekas3.iml
.idea/modules.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/sqldialects.xml